/* Reset */

html {
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Estilos */

.logo {
  display: block;
  margin-top: 60px;
  margin: 60px auto -20px auto;
  text-align: center;
}

.version {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--tertiary);
  font-size: 0.75em;
}

.brand, .posts, .qtd, .result, .login-content {
  background: #4D311E;
  padding: 60px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.brand .instruction:first-child, .result .instruction:first-child, .posts .instruction:first-child, .qtd .n-comments, .login-content .instruction:first-child {
  margin-top: 0px;
}

.result, .posts, .brand, .qtd, .login-content {
  margin-top: 60px;
}

.login .token {
  font-size: 1.5em;
  color: var(--tertiary);
}

.login .instruction {
  margin-bottom: 20px;
}

:root {
  --primary: #ff6d0c;
  --secundary: #202223;
  --tertiary: floralwhite;
}

body {
  background: var(--secundary);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  margin-bottom: 60px;
}

.login {
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.access {
  display: none;
  width: 60%;
}

.instruction {
  margin-top: 60px;
  color: var(--tertiary);
}

.qtd .instruction {
  margin-top: 20px;
}

.n-comments {
  margin-top: 60px;
  font-size: 1.5em;
  color: var(--primary);
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  color: var(--primary);
}

.btn, .btn-start {
  margin-top: 20px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  padding: 15px 20px;
  background: var(--primary);
  color: floralwhite;
  opacity: .5;
  cursor: pointer;
  outline: none;
}

.login .btn {
  margin-top: 0px;
  width: 30%;
  margin-left: 10px;
}

.btn:hover, .active, .token-input:hover {
  opacity: 1 !important;
  transition: .5s;
}

.active-step {
  display: block !important;
  animation: act 1s forwards;
}

.active-step-flex {
  display: flex !important;
  animation: act 1s forwards;
}

@keyframes act {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes nextStep {
  0% {
    opacity: 0;
    right: 5%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

@keyframes previousStep {
  0% {
    opacity: 0;
    right: -5%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.posts {
  display: none;
}

.posts ul {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.posts li + li {
  margin-left: 20px;
}

.posts li.active {
  margin-left: 0px;
}

.posts ul li {
  opacity: .5;
  cursor: pointer;
}

.posts ul li:hover, .qtd input:hover  {
  opacity: 1;
  transition: .5s;
}

.qtd, .result {
  display: none;
}

.result {
  flex-direction: column;
}

.result ul {
  margin-top: 20px;
  order: 1;
  position: relative;
}

.result nav {
  order: 3;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.result .error {
  order: 2;
  margin-bottom: 20px;
}

.result .error .sub-instruction {
  color: crimson;
}

.result ul li {
  padding: 20px 20px 20px 40px;
  background: var(--primary);
  color: floralwhite;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.nav-btn {
  outline: none;
  border: none;
  padding: 15px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background: var(--primary);
  color: floralwhite;
  opacity: .5;
  width: 100%;
}

.n-pages {
  margin: 0 20px;
  color: floralwhite;
}

.nav-btn:hover {
  opacity: 1;
}

.posts ul li img {
  width: 200px;
}

.qtd div {
  display: flex;
}

.access-form {
  display: flex; 
  align-items: center; 
  margin-top: 10px;
}

.qtd input {
  width: 100px;
  margin-right: 10px;
}

.qtd input, .token-input {
  margin-top: 20px;
  border: none;
  background: var(--primary);
  opacity: .5;
  padding: 15px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: floralwhite;
  outline: none;
}

.token-input {
  display: table;
  margin-top: 0px;
  width: 70%;
  margin-right: 0px;
}

.error-access {
  display: none;
  margin-top: 20px;
}

.error-access .sub-instruction {
  color: crimson;
}

.error, .loading, .error-result {
  display: none;
}

.error .instruction, .error-result .instruction {
  color: crimson;
  font-size: 1.5em;
}

.loading .instruction {
  color: var(--primary);
  font-size: 1.5em;
}

.sub-instruction {
  color: var(--tertiary);
  margin-top: 5px;
}

.posts ul li.active, .btn.active {
  pointer-events:none;
}

.asc:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1rem;
  }
}

@media (max-width: 820px) {
  .login, .access {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .access-form {
    flex-direction: column;
  }
  .token-input, .access-form .btn, .qtd input {
    width: 100%;
  }
  .qtd input {
    margin-right: 0px;
  }
  .access-form .btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .qtd div {
    flex-direction: column;
  }
  .qtd .btn {
    margin-top: 10px;
  }
  .result ul li {
    padding: 15px 20px;
    font-size: 1em;
  }
  .result nav {
    margin-top: 40px;
    flex-direction: column;
  }
  .n-pages {
    margin: 10px 0;
  }
  .brand, .posts, .qtd, .result, .login-content {
    padding: 20px;
  }
}