/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos */

:root {
  --primary: #ff6d0c;
  --secundary: #202223;
  --tertiary: floralwhite;
}

body {
  background: var(--secundary);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  margin-bottom: 60px;
}

.instruction {
  margin-top: 60px;
  color: var(--tertiary);
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  color: var(--primary);
}

.btn, .btn-start {
  margin-top: 20px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  background: var(--primary);
  color: floralwhite;
  padding: 20px;
  opacity: .5;
  cursor: pointer;
}

.btn:hover, .active {
  opacity: 1 !important;
  transition: .5s;
}

.active-step {
  display: block !important;
  animation: act 1s forwards;
}

.active-step-flex {
  display: flex !important;
  animation: act 1s forwards;
}

@keyframes act {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes nextStep {
  0% {
    opacity: 0;
    right: 5%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

@keyframes previousStep {
  0% {
    opacity: 0;
    right: -5%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.posts {
  display: none;
}

.posts ul {
  margin-top: 20px;
  display: flex;
}

.posts li + li {
  margin-left: 20px;
}

.posts li.active {
  margin-left: 0px;
}

.posts ul li {
  opacity: .5;
  cursor: pointer;
}

.posts ul li:hover, .qtd input:hover  {
  opacity: 1;
  transition: .5s;
}

.qtd, .result {
  display: none;
}

.result {
  flex-direction: column;
}

.result ul {
  margin-top: 20px;
  order: 1;
  position: relative;
}

.result {
  width: 50%;
}

.result nav {
  order: 2;
  display: none;
  justify-content: space-between;
}

.result ul li {
  padding: 20px 20px 20px 40px;
  background: var(--primary);
  color: floralwhite;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.posts ul li img {
  width: 200px;
}

.qtd div {
  display: flex;
}

.qtd input {
  margin-top: 20px;
  border: none;
  background: var(--primary);
  opacity: .5;
  padding: 15px 20px;
  width: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: floralwhite;
  outline: none;
  margin-right: 20px;
}

.error, .loading {
  display: none;
}

.error .instruction {
  color: crimson;
  font-size: 1.5em;
}

.loading .instruction {
  color: var(--primary);
  font-size: 1.5em;
}

.sub-instruction {
  color: var(--tertiary);
  margin-top: 5px;
}